<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdac.db.MariaMapper">
	<select id="getAnchorList" resultType="map">
		SELECT
			*
		FROM
			anchor_history
	</select>
	
	<insert id="getAnchorSeq" useGeneratedKeys="true" parameterType="map" keyProperty="seq_val">
    	<selectKey resultType="long" keyProperty="seq_val" order="BEFORE">
			SELECT IFNULL(MAX(seq_val), 0) + 1 FROM tb_seq_anchor_history
		</selectKey>
		INSERT INTO tb_seq_anchor_history
		(
			seq_val
		)
		VALUES
		(
			#{seq_val}
		)
	</insert>
	
	<insert id="insertAnchorInfo" parameterType="map">
		INSERT INTO anchor_history
		(
			address_index,
			block_cnt,
			block_hash,
			to_address,
			from_address,
			create_dt,
			update_dt,
			anchor_size,
			change_size
		)
		VALUES
		(
			#{address_index},
			#{blockcnt},
			#{blockhash},
			#{to_address},
			#{from_address},
			NOW(),
			NOW(),
			#{anchor_size},
			#{change_size}
		)
	</insert>
	
	<delete id="deleteAnchorInfo">
		DELETE 
		FROM
		anchor_history
		WHERE address_index = #{address_index}
	</delete>
	
	<select id="getSeed" parameterType="map" resultType="string">
		SELECT
			word
		FROM
			root_seed
		ORDER BY
			seq ASC
	</select>
	
	<select id="getLastHistory" resultType="map">
		SELECT 
			address_index,
			block_cnt,
			to_address,
			from_address,
			create_dt,
			anchor_size
		FROM
			anchor_history
		ORDER BY	
			address_index DESC
		LIMIT 1	
	</select>
	
	<select id="getLastCount" resultType="map">
		SELECT 
			address_index,
			block_cnt
		FROM
			anchor_history
		ORDER BY	
			address_index DESC
		LIMIT 2	
	</select>
	
	<insert id="insertSeedWords" parameterType="map">
		INSERT INTO root_seed
		(
			seq
			, word
		)
		VALUES
		<foreach collection="seedWords" item="item" index="index" separator=", ">
            (#{index}, #{item})
        </foreach>
	</insert>
	
	<update id="updateAnchorInfo" parameterType="map">
		UPDATE anchor_history
		SET
			update_dt =		NOW(),
			block_cnt = 	#{blockcnt},
			block_hash = 	#{blockhash},
			to_address = 	#{to_address},
			from_address = 	#{from_address},
			address_index = #{address_index}
		WHERE
			address_index = #{address_index}	
	</update>
	
	<select id="getVerifyAddress" resultType="map" parameterType="map">
		SELECT
			address_index, 
			to_address
		FROM
			anchor_history
		WHERE
			block_cnt > #{blockCnt}
		ORDER BY	
			address_index ASC
		LIMIT 1			
	</select>
	
	<select id="getTokenName" resultType="map">
		SELECT
			tokenName,
			contractAddress,
			tokenSwapRatio 
		FROM
			token_info
	</select>
</mapper>